

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:wght@400;700&family=League+Spartan:wght@300&family=Martel:wght@300&family=Poppins:ital,wght@0,500;1,500&family=Roboto:ital,wght@1,100&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.Hero{
    color: white;
    background-image: url("https://media.istockphoto.com/id/1488919446/photo/working-from-home-in-downtown-los-angeles.jpg?s=1024x1024&w=is&k=20&c=cIx2wwlTLn35Ld0Smd93mSJEpMMC-Dr5IJcvYB4So6Y=");
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    padding: 0px 0px 500px 0px;
   font-weight: 400;
}
.Black{
    text-align: center;
    background-color: #000;
    color: white; 
    margin: 0px;
}
.Black>h3{
    font-size: 80px;
   margin: 0px;
   font-weight: 400;
}
.Black>h3>span{
    font-size: 96px;
}

.Outer{
    display: grid;
    align-items: center;
    gap: 1%;
    padding: 0 5%;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin-top: 40px;
    flex-wrap: wrap;
}
.card{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px rgb(180, 177, 177);
    margin-top: 15px;
   max-width: 340px;
   height: 400px;
}
.card>img{
    width: 340px;
    height: 200px;
}
.grid-item{
display: flex;
justify-content: center;
align-items: center;
}

.Outer>.grid-item>.card h3{
    font-weight: 500;
    /* height: 25vh; */
    
    padding-top: 15px;
    padding-left: 15px;
}
.Outer>.grid-item>.card p{
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 35px;
    text-align: start;
    font-weight: 450;
    padding-right: 8px;
}
.Bottom{
    display: flex;
    margin-top: 55px;
    color: white;
    justify-content: space-around;
    gap: 8%;
    justify-content: space-evenly;
}
.Bottom .col1{
background-color: rgb(7, 90, 7);
padding: 25px;
margin-left: 25px;
}
.Bottom .col2{
    background-color: rgb(125, 20, 12);
    padding: 25px;
    margin-right: 25px;
    
    }
    @media (max-width:786px){
        .Bottom{
            display: flex;
            margin-top: 200px;
            flex-direction: column;
            
        }
        .Bottom .col1{
            margin-left: 0px;
            width: 100%;
            height: 250px;
        }
        .Bottom .col2{
            margin-right: 0px;
            width: 100%;
        }
        .Hero{
            min-height: 50vh;
        }
        .Black>h3{
            font-size: 24px;
        }
        .Black>h3>span{
            font-size: 30px;
        }
        .Outer{
            grid-template-rows: repeat(3, 1fr);
            
        }
       


    }

